In [1]:
import pyspark as ps
from pyspark.sql import functions as F
from pyspark.sql.types import StringType, DoubleType, IntegerType, StructType, StructField, ArrayType

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
# !pip install geopy
import folium
from geopy.geocoders import Nominatim
import time
pd.set_option('display.max_columns', None)
pd.set_option('display.float_format', lambda x: '%.5f' % x)

In [19]:
sc.getConf().getAll()

[('spark.master', 'local[4]'),
 ('spark.executor.id', 'driver'),
 ('spark.driver.memory', '16g'),
 ('spark.cores.max', '3'),
 ('spark.app.id', 'local-1603759376969'),
 ('spark.executor.memory', '16g'),
 ('spark.app.name', 'capstone'),
 ('spark.rdd.compress', 'True'),
 ('spark.serializer.objectStreamReset', '100'),
 ('spark.submit.pyFiles', ''),
 ('spark.executor.cores', '3'),
 ('spark.submit.deployMode', 'client'),
 ('spark.ui.showConsoleProgress', 'true'),
 ('spark.driver.port', '42759'),
 ('spark.driver.host', 'd13c9c6af94d')]

In [3]:
spark = (ps.sql.SparkSession
         .builder
         .master('local[4]')
         .appName('lecture')
         .getOrCreate()
        )
sc = spark.sparkContext


# Option2
# conf = ps.SparkConf().setMaster("yarn-client").setAppName("capstone1")
# conf.set("spark.executor.heartbeatInterval","3600s")
# sc = ps.SparkContext('local[4]', '', conf=conf)



# Option3
# sc.stop()
# conf = ps.SparkConf().setAll([('spark.executor.memory', '16g'),
#                                    ('spark.executor.cores', '3'),
#                                    ('spark.cores.max', '3'),
#                                    ('spark.driver.memory','16g'),
# #                                    ('spark.executor.heartbeatInterval','3600s'),
#                                    ('spark.master', 'local[4]'),
#                                    ('spark.app.name', 'capstone')])

# sc = ps.SparkContext(conf=conf)

In [4]:
park = spark.read.csv('../data/Parking_Violations_Issued_FY_2019.csv',
                         header=True,
                         inferSchema=True)
park.limit(5).toPandas()

,Summons Number,Plate ID,Registration State,Plate Type,Issue Date,Violation Code,Vehicle Body Type,Vehicle Make,Issuing Agency,Street Code1,Street Code2,Street Code3,Vehicle Expiration Date,Violation Location,Violation Precinct,Issuer Precinct,Issuer Code,Issuer Command,Issuer Squad,Violation Time,Time First Observed,Violation County,Violation In Front Of Or Opposite,House Number,Street Name,Intersecting Street,Date First Observed,Law Section,Sub Division,Violation Legal Code,Days Parking In Effect,From Hours In Effect,To Hours In Effect,Vehicle Color,Unregistered Vehicle?,Vehicle Year,Meter Number,Feet From Curb,Violation Post Code,Violation Description,No Standing or Stopping Violation,Hydrant Violation,Double Parking Violation
0,1105232165,GLS6001,NY,PAS,07/03/2018,14,SDN,HONDA,X,47130,13230,80030,20180702,78,78,968,86684,0968,0000,0811P,None,K,F,2,HANSON PLACE,None,0,408,D1,None,BBYBBBB,ALL,ALL,BLUE,0,2006,-,0,None,None,None,None,None
1,1121274900,HXM7361,NY,PAS,06/28/2018,46,SDN,NISSA,X,28990,14890,15040,20200203,112,112,968,103419,0968,0000,1145A,None,Q,F,71-30,AUSTIN ST,None,0,408,C,None,BBBBBBB,ALL,ALL,GRY,0,2017,-,0,None,None,None,None,None
2,1130964875,GTR7949,NY,PAS,06/08/2018,24,SUBN,JEEP,X,64,18510,99,20180930,122,122,835,0,0835,0000,0355P,None,R,None,None,GREAT KILLS BOAT LAU,None,0,408,D5,None,BBBBBBB,ALL,ALL,GREEN,0,0,-,0,None,None,None,None,None
3,1130964887,HH1842,NC,PAS,06/07/2018,24,P-U,FORD,X,11310,39800,39735,0,122,122,835,0,0835,0000,0123P,None,R,None,None,GREAT KILLS PARK BOA,None,0,408,D5,None,BBBBBBB,ALL,ALL,WHITE,0,0,-,0,None,None,None,None,None
4,1131599342,HDG7076,NY,PAS,06/29/2018,17,SUBN,HYUND,X,47130,13230,80030,20190124,78,78,868,2354,0868,0000,0514P,None,K,F,2,HANSON PLACE,None,0,408,C4,None,BBBBBBB,ALL,ALL,GREEN,0,2007,-,0,None,None,None,None,None

In [5]:
nobs = park.count()
nobs

11467506

In [6]:
park.printSchema()

root
 |-- Summons Number: long (nullable = true)
 |-- Plate ID: string (nullable = true)
 |-- Registration State: string (nullable = true)
 |-- Plate Type: string (nullable = true)
 |-- Issue Date: string (nullable = true)
 |-- Violation Code: integer (nullable = true)
 |-- Vehicle Body Type: string (nullable = true)
 |-- Vehicle Make: string (nullable = true)
 |-- Issuing Agency: string (nullable = true)
 |-- Street Code1: integer (nullable = true)
 |-- Street Code2: integer (nullable = true)
 |-- Street Code3: integer (nullable = true)
 |-- Vehicle Expiration Date: integer (nullable = true)
 |-- Violation Location: integer (nullable = true)
 |-- Violation Precinct: integer (nullable = true)
 |-- Issuer Precinct: integer (nullable = true)
 |-- Issuer Code: integer (nullable = true)
 |-- Issuer Command: string (nullable = true)
 |-- Issuer Squad: string (nullable = true)
 |-- Violation Time: string (nullable = true)
 |-- Time First Observed: string (nullable = true)
 |-- Violation County: string (nullable = true)
 |-- Violation In Front Of Or Opposite: string (nullable = true)
 |-- House Number: string (nullable = true)
 |-- Street Name: string (nullable = true)
 |-- Intersecting Street: string (nullable = true)
 |-- Date First Observed: integer (nullable = true)
 |-- Law Section: integer (nullable = true)
 |-- Sub Division: string (nullable = true)
 |-- Violation Legal Code: string (nullable = true)
 |-- Days Parking In Effect: string (nullable = true)
 |-- From Hours In Effect: string (nullable = true)
 |-- To Hours In Effect: string (nullable = true)
 |-- Vehicle Color: string (nullable = true)
 |-- Unregistered Vehicle?: integer (nullable = true)
 |-- Vehicle Year: integer (nullable = true)
 |-- Meter Number: string (nullable = true)
 |-- Feet From Curb: integer (nullable = true)
 |-- Violation Post Code: string (nullable = true)
 |-- Violation Description: string (nullable = true)
 |-- No Standing or Stopping Violation: string (nullable = true)
 |-- Hydrant Violation: string (nullable = true)
 |-- Double Parking Violation: string (nullable = true)

In [7]:
# from pyspark.sql.functions import col,sum
missing = (park
           .select(
               *(F.sum(F.col(c).isNull().cast("int")).alias(c) / F.lit(nobs)
                  
                 for c in park.columns))
           .toPandas()
          )

In [ ]:
missing

In [8]:
schema = StructType( [
            StructField('columns',     StringType(), nullable = True),
            StructField('percent_missing', DoubleType(),  True), ] )

missing_t = (sc
             .parallelize([ (k,) + tuple(v[0:]) for k,v in missing.items()])
             .toDF(schema)
             .orderBy(F.desc('percent_missing'))
            )

missing_t.toPandas()

                                              columns  percent_missing
0   (sum(CAST((No Standing or Stopping Violation I...          1.00000
1   (sum(CAST((Hydrant Violation IS NULL) AS INT))...          1.00000
2   (sum(CAST((Double Parking Violation IS NULL) A...          1.00000
3   (sum(CAST((Time First Observed IS NULL) AS INT...          0.94450
4   (sum(CAST((Unregistered Vehicle? IS NULL) AS I...          0.92265
5   (sum(CAST((Meter Number IS NULL) AS INT)) AS `...          0.89164
6   (sum(CAST((Violation Legal Code IS NULL) AS IN...          0.84139
7   (sum(CAST((Violation Description IS NULL) AS I...          0.84136
8   (sum(CAST((Intersecting Street IS NULL) AS INT...          0.70888
9   (sum(CAST((From Hours In Effect IS NULL) AS IN...          0.50459
10  (sum(CAST((To Hours In Effect IS NULL) AS INT)...          0.50459
11  (sum(CAST((Violation Post Code IS NULL) AS INT...          0.23596
12  (sum(CAST((House Number IS NULL) AS INT)) AS `...          0.17631
13  (sum(CAST((Violation In Front Of Or Opposite I...          0.16627
14  (sum(CAST((Violation Location IS NULL) AS INT)...          0.16376
15  (sum(CAST((Issuer Squad IS NULL) AS INT)) AS `...          0.15861
16  (sum(CAST((Days Parking In Effect IS NULL) AS ...          0.15861
17  (sum(CAST((Issuer Command IS NULL) AS INT)) AS...          0.15861
18  (sum(CAST((Vehicle Color IS NULL) AS INT)) AS ...          0.01351
19  (sum(CAST((Vehicle Make IS NULL) AS INT)) AS `...          0.00611
20  (sum(CAST((Vehicle Body Type IS NULL) AS INT))...          0.00434
21  (sum(CAST((Violation County IS NULL) AS INT)) ...          0.00428
22  (sum(CAST((Street Name IS NULL) AS INT)) AS `S...          0.00015
23  (sum(CAST((Sub Division IS NULL) AS INT)) AS `...          0.00011
24  (sum(CAST((Violation Time IS NULL) AS INT)) AS...          0.00001
25  (sum(CAST((Issuing Agency IS NULL) AS INT)) AS...          0.00000
26  (sum(CAST((Summons Number IS NULL) AS INT)) AS...          0.00000
27  (sum(CAST((Plate ID IS NULL) AS INT)) AS `Plat...          0.00000
28  (sum(CAST((Registration State IS NULL) AS INT)...          0.00000
29  (sum(CAST((Plate Type IS NULL) AS INT)) AS `Pl...          0.00000
30  (sum(CAST((Issue Date IS NULL) AS INT)) AS `Is...          0.00000
31  (sum(CAST((Violation Code IS NULL) AS INT)) AS...          0.00000
32  (sum(CAST((Street Code1 IS NULL) AS INT)) AS `...          0.00000
33  (sum(CAST((Street Code2 IS NULL) AS INT)) AS `...          0.00000
34  (sum(CAST((Street Code3 IS NULL) AS INT)) AS `...          0.00000
35  (sum(CAST((Vehicle Expiration Date IS NULL) AS...          0.00000
36  (sum(CAST((Violation Precinct IS NULL) AS INT)...          0.00000
37  (sum(CAST((Issuer Precinct IS NULL) AS INT)) A...          0.00000
38  (sum(CAST((Issuer Code IS NULL) AS INT)) AS `I...          0.00000
39  (sum(CAST((Date First Observed IS NULL) AS INT...          0.00000
40  (sum(CAST((Law Section IS NULL) AS INT)) AS `L...          0.00000
41  (sum(CAST((Vehicle Year IS NULL) AS INT)) AS `...          0.00000
42  (sum(CAST((Feet From Curb IS NULL) AS INT)) AS...          0.00000

In [9]:
park2 = (park
#          .filter( ~(park['House Number'].isNull()) )
         .drop('Violation In Front Of Or Opposite',
               'Violation Post Code',
               'To Hours In Effect',
               'From Hours In Effect',
               'Intersecting Street',
               'Violation Description',
               'Violation Legal Code',
               'Meter Number',
               'Unregistered Vehicle?',
               'Time First Observed',
               'No Standing or Stopping Violation',
               'Hydrant Violation',
               'Double Parking Violation')
         .na.drop()
#          .dropDuplicates()
        )
park2.count(), len(park2.columns)

(9249224, 30)

In [10]:
park2.limit(5).toPandas()

,Summons Number,Plate ID,Registration State,Plate Type,Issue Date,Violation Code,Vehicle Body Type,Vehicle Make,Issuing Agency,Street Code1,Street Code2,Street Code3,Vehicle Expiration Date,Violation Location,Violation Precinct,Issuer Precinct,Issuer Code,Issuer Command,Issuer Squad,Violation Time,Violation County,House Number,Street Name,Date First Observed,Law Section,Sub Division,Days Parking In Effect,Vehicle Color,Vehicle Year,Feet From Curb
0,1438634997,88502MG,NY,COM,07/18/2018,14,DELV,FRUEH,P,24050,27100,16880,20190630,1,1,0,352979,SICA,0000,0831A,NY,37,JOHN ST,0,408,D1,BBBBBBB,WH,2006,0
1,1438634950,HFH3822,NY,PAS,07/10/2018,21,SUBN,FORD,P,11115,26630,97020,20200512,1,1,0,352979,SICA,0000,0957A,NY,28,WEST ST,0,408,J3,BYBBYBB,WH,2005,0
2,1437964163,HMW6402,NY,PAS,06/25/2018,40,SDN,HONDA,P,75530,51030,20530,20190312,84,84,0,929152,TB30,0000,1058A,K,200,SCHERMERHORN ST,0,408,C,BBBBBBB,GOLD,1999,0
3,1440903864,994WXW,IA,PAS,07/12/2018,21,FOUR,TOYOT,S,75980,73270,86730,0,76,76,0,685698,KS06,0000,0114A,K,45,SEABRING STREET,0,408,D1,YBBYBBB,BLUE,0,0
4,1441689680,KKM5094,PA,PAS,07/07/2018,21,SUBN,NISSA,S,56820,26640,36150,0,42,42,0,528339,BX01,0000,0125A,BX,3414,PARK AVE,0,408,D1,BBBBBYB,GY,0,0

In [ ]:
new_time = (park2.withColumn('new_time', 
                            F.to_timestamp(
                                F.concat('Violation Time', F.lit("M")),'hhmma'))
           )

In [ ]:
new_time.select('new_time', 'Violation Time').take(10)

In [29]:
def freq(df, col):
    (df
     .groupBy(col)
     .count()
     .orderBy(F.desc('count'))
     .show()
    )

In [12]:
freq(park2, 'Violation Code')

+--------------+-------+
|Violation Code|  count|
+--------------+-------+
|            21|1751453|
|            38|1141572|
|            14| 961108|
|            20| 780176|
|            46| 561214|
|            71| 543618|
|            40| 541638|
|            37| 473848|
|            70| 308743|
|            19| 300900|
|            16| 244926|
|            69| 230978|
|            31| 153690|
|            17| 129831|
|            74| 123704|
|            47| 114985|
|            84|  97029|
|            50|  84200|
|            48|  72441|
|            10|  64954|
+--------------+-------+
only showing top 20 rows

In [28]:
park3 = park2.filter((park2['Violation Code'].isin(21,38,14,20,46)))
park3.count()

5195523

In [30]:
freq(park3, 'Violation Code')

+--------------+-------+
|Violation Code|  count|
+--------------+-------+
|            21|1751453|
|            38|1141572|
|            14| 961108|
|            20| 780176|
|            46| 561214|
+--------------+-------+

In [39]:
park_sample = park3.sample(False, 0.01).toPandas()

In [41]:
park_sample.head()

,Summons Number,Plate ID,Registration State,Plate Type,Issue Date,Violation Code,Vehicle Body Type,Vehicle Make,Issuing Agency,Street Code1,Street Code2,Street Code3,Vehicle Expiration Date,Violation Location,Violation Precinct,Issuer Precinct,Issuer Code,Issuer Command,Issuer Squad,Violation Time,Violation County,House Number,Street Name,Date First Observed,Law Section,Sub Division,Days Parking In Effect,Vehicle Color,Vehicle Year,Feet From Curb
0,1440986605,CJBM76,FL,PAS,07/03/2018,21,SUBN,VOLKS,S,48430,42730,13430,0,75,75,0,669512,KN05,0000,0952A,K,309,HEMLOCK STREET,0,408,D1,BYBBYBB,BLK,0,0
1,1442478639,HVY3873,NY,PAS,07/11/2018,21,SUBN,HONDA,S,31790,35290,65140,20191002,100,100,0,596638,KN16,0000,1142A,Q,420,BEACH 65TH ST,0,408,D1,BBYBBBB,WHITE,2017,0
2,8599896052,XDDD96,NJ,PAS,07/26/2018,14,SUBN,CHRYS,T,21730,30790,29290,88880088,1,1,1,367978,T101,G,1040A,NY,100,Greene St,0,408,D,YYYYYYY,BLACK,0,0
3,8619387285,71288MD,NY,COM,07/10/2018,14,DELV,INTER,T,34090,10810,10910,20180831,10,10,10,365934,T102,I,1240P,NY,345,W 16th St,0,408,H0,YYYYYYY,MR,2014,0
4,8520533279,AF13961,PA,PAS,07/10/2018,46,TRAC,MACK,T,24890,18750,18770,20180088,19,19,19,367885,T103,N,0119P,NY,1332,Lexington Ave,0,408,F1,YYYYYYY,ORANG,0,0

In [42]:
park_sample.shape

(51819, 30)

In [43]:
park_sample['Address'] = park_sample['House Number'] + ' ' + park_sample['Street Name'] + ' NYC'

In [46]:
park_sample['Address'][:100].to_json('../data/address.json')

In [45]:
pwd

'/home/jovyan/work/Documents/Galvanize/capstones/capstone1/code'

In [60]:
unique_addr = park_sample[['Address']].drop_duplicates()
unique_addr.shape

(37890, 1)

In [64]:
# unique_addr['location'] = unique_addr['Address'][:100].apply(lambda x: get_location(x))
# unique_addr.to_csv('../data/address.csv')

In [79]:
locat = unique_addr['location'].values
locat

array([(40.682301949999996, -73.87054313462036),
       (40.5936317, -73.79401702642045), (40.7242355, -73.99969014999999),
       ..., nan, nan, nan], dtype=object)

In [61]:
def get_location(address):
    geolocator = Nominatim(user_agent="capstone1")
    location = geolocator.geocode(address)
    if location:
        lat, long = location.latitude, location.longitude
        return lat, long
    else:
        return 0, 0

get_location_udf = F.udf(get_location, ArrayType(DoubleType()))

In [6]:
streets = (park2
           .select(
               F.concat('House Number', F.lit(' '), 'Street Name', F.lit(' NYC')).alias('Address')
               )
           .dropDuplicates()
          )
streets.take(5)

[Row(Address='444 W 13TH ST NYC'),
 Row(Address='34-37 LINDEN PLACE NYC'),
 Row(Address='139 AINSLIE ST NYC'),
 Row(Address='645 BARRETTO ST NYC'),
 Row(Address='579 MAIN ST NYC')]

In [7]:
sample_addr = streets.sample(False,0.005)
sample_addr.count()

4838

In [8]:
streets2 = sample_addr.withColumn('location', get_location_udf(sample_addr.Address))
streets2.toPandas()

PythonException:
  An exception was thrown from the Python worker. Please see the stack trace below.
Traceback (most recent call last):
  File "/opt/conda/lib/python3.8/site-packages/urllib3/connectionpool.py", line 426, in _make_request
    six.raise_from(e, None)
  File "<string>", line 3, in raise_from
  File "/opt/conda/lib/python3.8/site-packages/urllib3/connectionpool.py", line 421, in _make_request
    httplib_response = conn.getresponse()
  File "/opt/conda/lib/python3.8/http/client.py", line 1347, in getresponse
    response.begin()
  File "/opt/conda/lib/python3.8/http/client.py", line 307, in begin
    version, status, reason = self._read_status()
  File "/opt/conda/lib/python3.8/http/client.py", line 268, in _read_status
    line = str(self.fp.readline(_MAXLINE + 1), "iso-8859-1")
  File "/opt/conda/lib/python3.8/socket.py", line 669, in readinto
    return self._sock.recv_into(b)
  File "/opt/conda/lib/python3.8/ssl.py", line 1241, in recv_into
    return self.read(nbytes, buffer)
  File "/opt/conda/lib/python3.8/ssl.py", line 1099, in read
    return self._sslobj.read(len, buffer)
socket.timeout: The read operation timed out

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/opt/conda/lib/python3.8/site-packages/urllib3/connectionpool.py", line 670, in urlopen
    httplib_response = self._make_request(
  File "/opt/conda/lib/python3.8/site-packages/urllib3/connectionpool.py", line 428, in _make_request
    self._raise_timeout(err=e, url=url, timeout_value=read_timeout)
  File "/opt/conda/lib/python3.8/site-packages/urllib3/connectionpool.py", line 335, in _raise_timeout
    raise ReadTimeoutError(
urllib3.exceptions.ReadTimeoutError: HTTPSConnectionPool(host='nominatim.openstreetmap.org', port=443): Read timed out. (read timeout=1)

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/opt/conda/lib/python3.8/site-packages/requests/adapters.py", line 439, in send
    resp = conn.urlopen(
  File "/opt/conda/lib/python3.8/site-packages/urllib3/connectionpool.py", line 754, in urlopen
    return self.urlopen(
  File "/opt/conda/lib/python3.8/site-packages/urllib3/connectionpool.py", line 754, in urlopen
    return self.urlopen(
  File "/opt/conda/lib/python3.8/site-packages/urllib3/connectionpool.py", line 726, in urlopen
    retries = retries.increment(
  File "/opt/conda/lib/python3.8/site-packages/urllib3/util/retry.py", line 439, in increment
    raise MaxRetryError(_pool, url, error or ResponseError(cause))
urllib3.exceptions.MaxRetryError: HTTPSConnectionPool(host='nominatim.openstreetmap.org', port=443): Max retries exceeded with url: /search?q=590+W+207th+St+NYC&format=json&limit=1 (Caused by ReadTimeoutError("HTTPSConnectionPool(host='nominatim.openstreetmap.org', port=443): Read timed out. (read timeout=1)"))

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/opt/conda/lib/python3.8/site-packages/geopy/adapters.py", line 383, in _request
    resp = self.session.get(url, timeout=timeout, headers=headers)
  File "/opt/conda/lib/python3.8/site-packages/requests/sessions.py", line 543, in get
    return self.request('GET', url, **kwargs)
  File "/opt/conda/lib/python3.8/site-packages/requests/sessions.py", line 530, in request
    resp = self.send(prep, **send_kwargs)
  File "/opt/conda/lib/python3.8/site-packages/requests/sessions.py", line 643, in send
    r = adapter.send(request, **kwargs)
  File "/opt/conda/lib/python3.8/site-packages/requests/adapters.py", line 516, in send
    raise ConnectionError(e, request=request)
requests.exceptions.ConnectionError: HTTPSConnectionPool(host='nominatim.openstreetmap.org', port=443): Max retries exceeded with url: /search?q=590+W+207th+St+NYC&format=json&limit=1 (Caused by ReadTimeoutError("HTTPSConnectionPool(host='nominatim.openstreetmap.org', port=443): Read timed out. (read timeout=1)"))

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/usr/local/spark/python/lib/pyspark.zip/pyspark/worker.py", line 605, in main
    process()
  File "/usr/local/spark/python/lib/pyspark.zip/pyspark/worker.py", line 597, in process
    serializer.dump_stream(out_iter, outfile)
  File "/usr/local/spark/python/lib/pyspark.zip/pyspark/serializers.py", line 223, in dump_stream
    self.serializer.dump_stream(self._batched(iterator), stream)
  File "/usr/local/spark/python/lib/pyspark.zip/pyspark/serializers.py", line 141, in dump_stream
    for obj in iterator:
  File "/usr/local/spark/python/lib/pyspark.zip/pyspark/serializers.py", line 212, in _batched
    for item in iterator:
  File "/usr/local/spark/python/lib/pyspark.zip/pyspark/worker.py", line 450, in mapper
    result = tuple(f(*[a[o] for o in arg_offsets]) for (arg_offsets, f) in udfs)
  File "/usr/local/spark/python/lib/pyspark.zip/pyspark/worker.py", line 450, in <genexpr>
    result = tuple(f(*[a[o] for o in arg_offsets]) for (arg_offsets, f) in udfs)
  File "/usr/local/spark/python/lib/pyspark.zip/pyspark/worker.py", line 90, in <lambda>
    return lambda *a: f(*a)
  File "/usr/local/spark/python/lib/pyspark.zip/pyspark/util.py", line 107, in wrapper
    return f(*args, **kwargs)
  File "<ipython-input-5-b14b757024e1>", line 3, in get_location
  File "/opt/conda/lib/python3.8/site-packages/geopy/geocoders/nominatim.py", line 294, in geocode
    return self._call_geocoder(url, callback, timeout=timeout)
  File "/opt/conda/lib/python3.8/site-packages/geopy/geocoders/base.py", line 360, in _call_geocoder
    result = self.adapter.get_json(url, timeout=timeout, headers=req_headers)
  File "/opt/conda/lib/python3.8/site-packages/geopy/adapters.py", line 373, in get_json
    resp = self._request(url, timeout=timeout, headers=headers)
  File "/opt/conda/lib/python3.8/site-packages/geopy/adapters.py", line 395, in _request
    raise GeocoderUnavailable(message)
geopy.exc.GeocoderUnavailable: HTTPSConnectionPool(host='nominatim.openstreetmap.org', port=443): Max retries exceeded with url: /search?q=590+W+207th+St+NYC&format=json&limit=1 (Caused by ReadTimeoutError("HTTPSConnectionPool(host='nominatim.openstreetmap.org', port=443): Read timed out. (read timeout=1)"))

In [67]:
arr = np.array(['444 W 13TH ST NYC','590 W 207th St NYC'])

geolocator = Nominatim(user_agent="capstone1")
location = geolocator.geocode('590 W 207th St NYC')

print(location.latitude,location.longitude)

40.8670901 -73.9210205

In [217]:
m = folium.Map(location=[40.7128, -73.935242], zoom_start=11)
m