In [193]:
import pyspark as ps
from pyspark.sql import functions as F
from pyspark.sql.types import StringType, DoubleType, IntegerType, StructType, StructField

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
# !pip install geopy
import folium
from geopy.geocoders import Nominatim
import time
pd.set_option('display.max_columns', None)
pd.set_option('display.float_format', lambda x: '%.5f' % x)

In [2]:
spark = (ps.sql.SparkSession
         .builder
         .master('local[4]')
         .appName('lecture')
         .getOrCreate()
        )
sc = spark.sparkContext

In [137]:
park = spark.read.csv('../data/Parking_Violations_Issued_FY_2019.csv',
                         header=True,
                         inferSchema=True)
park.limit(5).toPandas()

,Summons Number,Plate ID,Registration State,Plate Type,Issue Date,Violation Code,Vehicle Body Type,Vehicle Make,Issuing Agency,Street Code1,Street Code2,Street Code3,Vehicle Expiration Date,Violation Location,Violation Precinct,Issuer Precinct,Issuer Code,Issuer Command,Issuer Squad,Violation Time,Time First Observed,Violation County,Violation In Front Of Or Opposite,House Number,Street Name,Intersecting Street,Date First Observed,Law Section,Sub Division,Violation Legal Code,Days Parking In Effect,From Hours In Effect,To Hours In Effect,Vehicle Color,Unregistered Vehicle?,Vehicle Year,Meter Number,Feet From Curb,Violation Post Code,Violation Description,No Standing or Stopping Violation,Hydrant Violation,Double Parking Violation
0,1105232165,GLS6001,NY,PAS,07/03/2018,14,SDN,HONDA,X,47130,13230,80030,20180702,78,78,968,86684,0968,0000,0811P,None,K,F,2,HANSON PLACE,None,0,408,D1,None,BBYBBBB,ALL,ALL,BLUE,0,2006,-,0,None,None,None,None,None
1,1121274900,HXM7361,NY,PAS,06/28/2018,46,SDN,NISSA,X,28990,14890,15040,20200203,112,112,968,103419,0968,0000,1145A,None,Q,F,71-30,AUSTIN ST,None,0,408,C,None,BBBBBBB,ALL,ALL,GRY,0,2017,-,0,None,None,None,None,None
2,1130964875,GTR7949,NY,PAS,06/08/2018,24,SUBN,JEEP,X,64,18510,99,20180930,122,122,835,0,0835,0000,0355P,None,R,None,None,GREAT KILLS BOAT LAU,None,0,408,D5,None,BBBBBBB,ALL,ALL,GREEN,0,0,-,0,None,None,None,None,None
3,1130964887,HH1842,NC,PAS,06/07/2018,24,P-U,FORD,X,11310,39800,39735,0,122,122,835,0,0835,0000,0123P,None,R,None,None,GREAT KILLS PARK BOA,None,0,408,D5,None,BBBBBBB,ALL,ALL,WHITE,0,0,-,0,None,None,None,None,None
4,1131599342,HDG7076,NY,PAS,06/29/2018,17,SUBN,HYUND,X,47130,13230,80030,20190124,78,78,868,2354,0868,0000,0514P,None,K,F,2,HANSON PLACE,None,0,408,C4,None,BBBBBBB,ALL,ALL,GREEN,0,2007,-,0,None,None,None,None,None

In [138]:
nobs = park.count()
nobs

11467506

In [4]:
park.printSchema()

root
 |-- Summons Number: long (nullable = true)
 |-- Plate ID: string (nullable = true)
 |-- Registration State: string (nullable = true)
 |-- Plate Type: string (nullable = true)
 |-- Issue Date: string (nullable = true)
 |-- Violation Code: integer (nullable = true)
 |-- Vehicle Body Type: string (nullable = true)
 |-- Vehicle Make: string (nullable = true)
 |-- Issuing Agency: string (nullable = true)
 |-- Street Code1: integer (nullable = true)
 |-- Street Code2: integer (nullable = true)
 |-- Street Code3: integer (nullable = true)
 |-- Vehicle Expiration Date: integer (nullable = true)
 |-- Violation Location: integer (nullable = true)
 |-- Violation Precinct: integer (nullable = true)
 |-- Issuer Precinct: integer (nullable = true)
 |-- Issuer Code: integer (nullable = true)
 |-- Issuer Command: string (nullable = true)
 |-- Issuer Squad: string (nullable = true)
 |-- Violation Time: string (nullable = true)
 |-- Time First Observed: string (nullable = true)
 |-- Violation County: string (nullable = true)
 |-- Violation In Front Of Or Opposite: string (nullable = true)
 |-- House Number: string (nullable = true)
 |-- Street Name: string (nullable = true)
 |-- Intersecting Street: string (nullable = true)
 |-- Date First Observed: integer (nullable = true)
 |-- Law Section: integer (nullable = true)
 |-- Sub Division: string (nullable = true)
 |-- Violation Legal Code: string (nullable = true)
 |-- Days Parking In Effect: string (nullable = true)
 |-- From Hours In Effect: string (nullable = true)
 |-- To Hours In Effect: string (nullable = true)
 |-- Vehicle Color: string (nullable = true)
 |-- Unregistered Vehicle?: integer (nullable = true)
 |-- Vehicle Year: integer (nullable = true)
 |-- Meter Number: string (nullable = true)
 |-- Feet From Curb: integer (nullable = true)
 |-- Violation Post Code: string (nullable = true)
 |-- Violation Description: string (nullable = true)
 |-- No Standing or Stopping Violation: string (nullable = true)
 |-- Hydrant Violation: string (nullable = true)
 |-- Double Parking Violation: string (nullable = true)

In [147]:
# from pyspark.sql.functions import col,sum
missing = (park
           .select(
               *(F.sum(F.col(c).isNull().cast("int")).alias(c) / F.lit(nobs)
                  
                 for c in park.columns))
           .toPandas()
          )

In [149]:
missing

,(sum(CAST((Summons Number IS NULL) AS INT)) AS `Summons Number` / 11467506),(sum(CAST((Plate ID IS NULL) AS INT)) AS `Plate ID` / 11467506),(sum(CAST((Registration State IS NULL) AS INT)) AS `Registration State` / 11467506),(sum(CAST((Plate Type IS NULL) AS INT)) AS `Plate Type` / 11467506),(sum(CAST((Issue Date IS NULL) AS INT)) AS `Issue Date` / 11467506),(sum(CAST((Violation Code IS NULL) AS INT)) AS `Violation Code` / 11467506),(sum(CAST((Vehicle Body Type IS NULL) AS INT)) AS `Vehicle Body Type` / 11467506),(sum(CAST((Vehicle Make IS NULL) AS INT)) AS `Vehicle Make` / 11467506),(sum(CAST((Issuing Agency IS NULL) AS INT)) AS `Issuing Agency` / 11467506),(sum(CAST((Street Code1 IS NULL) AS INT)) AS `Street Code1` / 11467506),(sum(CAST((Street Code2 IS NULL) AS INT)) AS `Street Code2` / 11467506),(sum(CAST((Street Code3 IS NULL) AS INT)) AS `Street Code3` / 11467506),(sum(CAST((Vehicle Expiration Date IS NULL) AS INT)) AS `Vehicle Expiration Date` / 11467506),(sum(CAST((Violation Location IS NULL) AS INT)) AS `Violation Location` / 11467506),(sum(CAST((Violation Precinct IS NULL) AS INT)) AS `Violation Precinct` / 11467506),(sum(CAST((Issuer Precinct IS NULL) AS INT)) AS `Issuer Precinct` / 11467506),(sum(CAST((Issuer Code IS NULL) AS INT)) AS `Issuer Code` / 11467506),(sum(CAST((Issuer Command IS NULL) AS INT)) AS `Issuer Command` / 11467506),(sum(CAST((Issuer Squad IS NULL) AS INT)) AS `Issuer Squad` / 11467506),(sum(CAST((Violation Time IS NULL) AS INT)) AS `Violation Time` / 11467506),(sum(CAST((Time First Observed IS NULL) AS INT)) AS `Time First Observed` / 11467506),(sum(CAST((Violation County IS NULL) AS INT)) AS `Violation County` / 11467506),(sum(CAST((Violation In Front Of Or Opposite IS NULL) AS INT)) AS `Violation In Front Of Or Opposite` / 11467506),(sum(CAST((House Number IS NULL) AS INT)) AS `House Number` / 11467506),(sum(CAST((Street Name IS NULL) AS INT)) AS `Street Name` / 11467506),(sum(CAST((Intersecting Street IS NULL) AS INT)) AS `Intersecting Street` / 11467506),(sum(CAST((Date First Observed IS NULL) AS INT)) AS `Date First Observed` / 11467506),(sum(CAST((Law Section IS NULL) AS INT)) AS `Law Section` / 11467506),(sum(CAST((Sub Division IS NULL) AS INT)) AS `Sub Division` / 11467506),(sum(CAST((Violation Legal Code IS NULL) AS INT)) AS `Violation Legal Code` / 11467506),(sum(CAST((Days Parking In Effect IS NULL) AS INT)) AS `Days Parking In Effect` / 11467506),(sum(CAST((From Hours In Effect IS NULL) AS INT)) AS `From Hours In Effect` / 11467506),(sum(CAST((To Hours In Effect IS NULL) AS INT)) AS `To Hours In Effect` / 11467506),(sum(CAST((Vehicle Color IS NULL) AS INT)) AS `Vehicle Color` / 11467506),(sum(CAST((Unregistered Vehicle? IS NULL) AS INT)) AS `Unregistered Vehicle?` / 11467506),(sum(CAST((Vehicle Year IS NULL) AS INT)) AS `Vehicle Year` / 11467506),(sum(CAST((Meter Number IS NULL) AS INT)) AS `Meter Number` / 11467506),(sum(CAST((Feet From Curb IS NULL) AS INT)) AS `Feet From Curb` / 11467506),(sum(CAST((Violation Post Code IS NULL) AS INT)) AS `Violation Post Code` / 11467506),(sum(CAST((Violation Description IS NULL) AS INT)) AS `Violation Description` / 11467506),(sum(CAST((No Standing or Stopping Violation IS NULL) AS INT)) AS `No Standing or Stopping Violation` / 11467506),(sum(CAST((Hydrant Violation IS NULL) AS INT)) AS `Hydrant Violation` / 11467506),(sum(CAST((Double Parking Violation IS NULL) AS INT)) AS `Double Parking Violation` / 11467506)
0,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00434,0.00611,0.00000,0.00000,0.00000,0.00000,0.00000,0.16376,0.00000,0.00000,0.00000,0.15861,0.15861,0.00001,0.94450,0.00428,0.16627,0.17631,0.00015,0.70888,0.00000,0.00000,0.00011,0.84139,0.15861,0.50459,0.50459,0.01351,0.92265,0.00000,0.89164,0.00000,0.23596,0.84136,1.00000,1.00000,1.00000

In [150]:
schema = StructType( [
    StructField('columns',     StringType(), nullable = True),
    StructField('percent_missing', DoubleType(),  True), ] )

missing_t = (sc
             .parallelize([ (k,) + tuple(v[0:]) for k,v in missing.items()])
             .toDF(schema)
             .orderBy(F.desc('percent_missing'))
            )

missing_t.toPandas()

                                              columns  percent_missing
0   (sum(CAST((No Standing or Stopping Violation I...          1.00000
1   (sum(CAST((Hydrant Violation IS NULL) AS INT))...          1.00000
2   (sum(CAST((Double Parking Violation IS NULL) A...          1.00000
3   (sum(CAST((Time First Observed IS NULL) AS INT...          0.94450
4   (sum(CAST((Unregistered Vehicle? IS NULL) AS I...          0.92265
5   (sum(CAST((Meter Number IS NULL) AS INT)) AS `...          0.89164
6   (sum(CAST((Violation Legal Code IS NULL) AS IN...          0.84139
7   (sum(CAST((Violation Description IS NULL) AS I...          0.84136
8   (sum(CAST((Intersecting Street IS NULL) AS INT...          0.70888
9   (sum(CAST((From Hours In Effect IS NULL) AS IN...          0.50459
10  (sum(CAST((To Hours In Effect IS NULL) AS INT)...          0.50459
11  (sum(CAST((Violation Post Code IS NULL) AS INT...          0.23596
12  (sum(CAST((House Number IS NULL) AS INT)) AS `...          0.17631
13  (sum(CAST((Violation In Front Of Or Opposite I...          0.16627
14  (sum(CAST((Violation Location IS NULL) AS INT)...          0.16376
15  (sum(CAST((Issuer Squad IS NULL) AS INT)) AS `...          0.15861
16  (sum(CAST((Days Parking In Effect IS NULL) AS ...          0.15861
17  (sum(CAST((Issuer Command IS NULL) AS INT)) AS...          0.15861
18  (sum(CAST((Vehicle Color IS NULL) AS INT)) AS ...          0.01351
19  (sum(CAST((Vehicle Make IS NULL) AS INT)) AS `...          0.00611
20  (sum(CAST((Vehicle Body Type IS NULL) AS INT))...          0.00434
21  (sum(CAST((Violation County IS NULL) AS INT)) ...          0.00428
22  (sum(CAST((Street Name IS NULL) AS INT)) AS `S...          0.00015
23  (sum(CAST((Sub Division IS NULL) AS INT)) AS `...          0.00011
24  (sum(CAST((Violation Time IS NULL) AS INT)) AS...          0.00001
25  (sum(CAST((Issuing Agency IS NULL) AS INT)) AS...          0.00000
26  (sum(CAST((Summons Number IS NULL) AS INT)) AS...          0.00000
27  (sum(CAST((Plate ID IS NULL) AS INT)) AS `Plat...          0.00000
28  (sum(CAST((Registration State IS NULL) AS INT)...          0.00000
29  (sum(CAST((Plate Type IS NULL) AS INT)) AS `Pl...          0.00000
30  (sum(CAST((Issue Date IS NULL) AS INT)) AS `Is...          0.00000
31  (sum(CAST((Violation Code IS NULL) AS INT)) AS...          0.00000
32  (sum(CAST((Street Code1 IS NULL) AS INT)) AS `...          0.00000
33  (sum(CAST((Street Code2 IS NULL) AS INT)) AS `...          0.00000
34  (sum(CAST((Street Code3 IS NULL) AS INT)) AS `...          0.00000
35  (sum(CAST((Vehicle Expiration Date IS NULL) AS...          0.00000
36  (sum(CAST((Violation Precinct IS NULL) AS INT)...          0.00000
37  (sum(CAST((Issuer Precinct IS NULL) AS INT)) A...          0.00000
38  (sum(CAST((Issuer Code IS NULL) AS INT)) AS `I...          0.00000
39  (sum(CAST((Date First Observed IS NULL) AS INT...          0.00000
40  (sum(CAST((Law Section IS NULL) AS INT)) AS `L...          0.00000
41  (sum(CAST((Vehicle Year IS NULL) AS INT)) AS `...          0.00000
42  (sum(CAST((Feet From Curb IS NULL) AS INT)) AS...          0.00000

In [154]:
# Drop rows where house number and intersecting street are both null

park2 = (park
#          .filter( ~(park['House Number'].isNull()) )
         .drop('Violation In Front Of Or Opposite',
               'Violation Post Code',
               'To Hours In Effect',
               'From Hours In Effect',
               'Intersecting Street',
               'Violation Description',
               'Violation Legal Code',
               'Meter Number',
               'Unregistered Vehicle?',
               'Time First Observed',
               'No Standing or Stopping Violation',
               'Hydrant Violation',
               'Double Parking Violation')
         .na.drop()
        )
park2.count(), len(park2.columns)

(9249224, 30)

In [155]:
park2.limit(5).toPandas()

,Summons Number,Plate ID,Registration State,Plate Type,Issue Date,Violation Code,Vehicle Body Type,Vehicle Make,Issuing Agency,Street Code1,Street Code2,Street Code3,Vehicle Expiration Date,Violation Location,Violation Precinct,Issuer Precinct,Issuer Code,Issuer Command,Issuer Squad,Violation Time,Violation County,House Number,Street Name,Date First Observed,Law Section,Sub Division,Days Parking In Effect,Vehicle Color,Vehicle Year,Feet From Curb
0,1105232165,GLS6001,NY,PAS,07/03/2018,14,SDN,HONDA,X,47130,13230,80030,20180702,78,78,968,86684,0968,0000,0811P,K,2,HANSON PLACE,0,408,D1,BBYBBBB,BLUE,2006,0
1,1121274900,HXM7361,NY,PAS,06/28/2018,46,SDN,NISSA,X,28990,14890,15040,20200203,112,112,968,103419,0968,0000,1145A,Q,71-30,AUSTIN ST,0,408,C,BBBBBBB,GRY,2017,0
2,1131599342,HDG7076,NY,PAS,06/29/2018,17,SUBN,HYUND,X,47130,13230,80030,20190124,78,78,868,2354,0868,0000,0514P,K,2,HANSON PLACE,0,408,C4,BBBBBBB,GREEN,2007,0
3,1131610520,GER9006,NY,PAS,07/02/2018,17,SUBN,NISSA,X,64790,18640,18790,20190128,103,103,968,86652,0968,0000,0827A,Q,94-14,SUTPHIN BLVD,0,408,C,BBBBBBB,BLK,2013,0
4,1133401569,HLC3177,NY,PAS,07/02/2018,21,SDN,HONDA,S,31830,67030,64830,20181219,77,77,0,559290,KN08,0000,0843A,K,1235,DEAN STREET,0,408,D1,YBBYBBB,BLACK,1999,0

In [107]:
new_time = (park2.withColumn('new_time', 
                            F.to_timestamp(
                                F.concat('Violation Time', F.lit("M")),'hhmma'))
           )

In [109]:
new_time.select('new_time', 'Violation Time').take(10)

[Row(new_time=datetime.datetime(1970, 1, 1, 20, 11), Violation Time='0811P'),
 Row(new_time=datetime.datetime(1970, 1, 1, 11, 45), Violation Time='1145A'),
 Row(new_time=datetime.datetime(1970, 1, 1, 17, 14), Violation Time='0514P'),
 Row(new_time=datetime.datetime(1970, 1, 1, 8, 27), Violation Time='0827A'),
 Row(new_time=datetime.datetime(1970, 1, 1, 8, 43), Violation Time='0843A'),
 Row(new_time=datetime.datetime(1970, 1, 1, 9, 10), Violation Time='0910A'),
 Row(new_time=datetime.datetime(1970, 1, 1, 9, 19), Violation Time='0919A'),
 Row(new_time=datetime.datetime(1970, 1, 1, 8, 18), Violation Time='0818A'),
 Row(new_time=datetime.datetime(1970, 1, 1, 13, 0), Violation Time='0100P'),
 Row(new_time=datetime.datetime(1970, 1, 1, 9, 2), Violation Time='0902A')]

In [156]:
def freq(*cols):
    (park2
         .select('Feet From Curb')
         .groupBy('Feet From Curb')
         .count()
         .orderBy('Feet From Curb')
         .show()
    )

+--------------+-------+
|Feet From Curb|  count|
+--------------+-------+
|             0|8975216|
|             1|  22074|
|             2|  29523|
|             3|  34296|
|             4|  32765|
|             5|  58687|
|             6|  35028|
|             7|  24792|
|             8|  20861|
|             9|   9783|
|            10|   5413|
|            11|    462|
|            12|    246|
|            13|     45|
|            14|     16|
|            15|     15|
|            16|      2|
+--------------+-------+

In [174]:
def freq(col):
    (park2
         .groupBy(col)
         .count()
         .orderBy(F.desc('count'))
         .show()
    )

In [175]:
freq('Violation Code')

+--------------+-------+
|Violation Code|  count|
+--------------+-------+
|            21|1751453|
|            38|1141572|
|            14| 961108|
|            20| 780176|
|            46| 561214|
|            71| 543618|
|            40| 541638|
|            37| 473848|
|            70| 308743|
|            19| 300900|
|            16| 244926|
|            69| 230978|
|            31| 153690|
|            17| 129831|
|            74| 123704|
|            47| 114985|
|            84|  97029|
|            50|  84200|
|            48|  72441|
|            10|  64954|
+--------------+-------+
only showing top 20 rows

In [204]:
streets = (park2
           .select(
               F.concat('House Number', F.lit(' '), 'Street Name', F.lit(' NYC')).alias('Address')
               )
           .dropDuplicates()
          )
streets.toPandas()

                          Address
0               444 W 13TH ST NYC
1          34-37 LINDEN PLACE NYC
2              139 AINSLIE ST NYC
3             645 BARRETTO ST NYC
4                 579 MAIN ST NYC
...                           ...
983155          140 Grand Ave NYC
983156         89-96 138th St NYC
983157  105-24 Woodhaven Blvd NYC
983158             361 3rd Pl NYC
983159        117-35 133rd St NYC

[983160 rows x 1 columns]

In [194]:
geolocator = Nominatim(user_agent="capstone1")
location = geolocator.geocode("175 5th Avenue NYC")
location

Location(5th Avenue Nyc, Rúa Alcalde Asúnsolo, A Falperra, Catro Camiños, A Coruña, Galicia / Galiza, 15007, España, (43.3545384, -8.4082542, 0.0))

In [189]:
m = folium.Map(location=[40.7128, -73.935242], zoom_start=11)